@using Auctions_Portal.Models

@model UserRegistrationViewModel

@{
    ViewBag.Title = "Registartion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* megjeleníthetünk üzeneteket *@

@if (ViewBag.Error != null)
{
    <div class="failureNotification">@ViewBag.Error</div>
}

<h2>Regisztráció</h2>

<div class="contentBody">

    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td olspan="2" valign="middle">
                    <div class="contentHead">
                        Adatok:
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
