@using Auctions_Portal.Models

@model UserRegistrationViewModel

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="contentHead">Sikeres regisztráció</div>



